body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #282c34;
} */

/* h1 {
  color: white;
  text-align: center;
} */
/* 
.board {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: black;
} */

/* .todo {
  text-decoration: none;
}

.todoDone {
  text-decoration: line-through;
} */
